---
layout: page
title: Drinks Menu
---

<hr />
{% if site.data.drinksmenu.mainstays %}
    <div class="mainstays">
        <h2>Mainstays</h2>
        {% for drink in site.data.drinksmenu.mainstays %}
            
            <div class="drink-item">
                <div class="drink-name">{{ drink.name }}</div>
                <div class="drink-ingredients">{{ drink.ingredients }}</div>
            </div>

        {% endfor %}
    </div>
{% endif %}

{% if site.data.drinksmenu.seasonal-spring %}
    <br />
    <hr />
    <div class="seasonal-spring">
        <h2>Specials, Spring</h2>
        {% for drink in site.data.drinksmenu.seasonal-spring %}
            
            <div class="drink-item">
                <div class="drink-name">{{ drink.name }}</div>
                <div class="drink-ingredients">{{ drink.ingredients }}</div>
            </div>

        {% endfor %}
    </div>
{% endif %}

{% if site.data.drinksmenu.seasonal-summer %}
    <br />
    <hr />
    <div class="seasonal-summer">
        <h2>Specials, Summer</h2>
        {% for drink in site.data.drinksmenu.seasonal-summer %}
            
            <div class="drink-item">
                <div class="drink-name">{{ drink.name }}</div>
                <div class="drink-ingredients">{{ drink.ingredients }}</div>
            </div>

        {% endfor %}
    </div>
{% endif %}

{% if site.data.drinksmenu.seasonal-fall %}
    <br />
    <hr />
    <div class="seasonal-fall">
        <h2>Specials, Fall</h2>
        {% for drink in site.data.drinksmenu.seasonal-fall %}
            
            <div class="drink-item">
                <div class="drink-name">{{ drink.name }}</div>
                <div class="drink-ingredients">{{ drink.ingredients }}</div>
            </div>

        {% endfor %}
    </div>
{% endif %}

{% if site.data.drinksmenu.seasonal-winter %}
    <br />
    <hr />
    <div class="seasonal-winter">
        <h2>Specials, Winter</h2>
        {% for drink in site.data.drinksmenu.seasonal-winter %}
            
            <div class="drink-item">
                <div class="drink-name">{{ drink.name }}</div>
                <div class="drink-ingredients">{{ drink.ingredients }}</div>
            </div>

        {% endfor %}
    </div>
{% endif %}


